name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # 1. Check Code Formatting
  stylua:
    name: StyLua
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --color always --check .

  # 2. Run the mini.test Suite
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Install Neovim in the GitHub runner
      - name: Install Neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: stable

      # Run the exact same Make command you just ran locally!
      - name: Run Tests
        run: make test
